<div class="main">
    <div class="container">
        <div class="py-14 sm:py-18">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h3 class="m-text">From the blog 📒</h3>
                    <div class="s-text">Learn How games improve your productive through our experts.</div>
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"></h2>

                </div>
                <div
                    class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-4">


                    <!-- 1 -->
                    <article class="brick entry format-standard animate-this">
                        <a routerLink="/first" routerLinkActive="" [routerLinkActiveOptions]="{exact: true}"
                            ariaCurrentWhenActive="page">
                            <div class="entry__thumb">
                                <img class="mb-5 thumb-link"
                                    src="https://img.freepik.com/free-photo/gamer-using-headphones-joystick-play-video-games-computer-man-playing-with-controller-audio-headset-online-gaming-player-having-fun-with-equipment-play-games_482257-39555.jpg?t=st=1723787516~exp=1723791116~hmac=8638fbed709c282afd60502b2a7988d4e8d79294fe8aeef445697f86097ec3ac&w=996"
                                    alt="">
                                <a routerLink="/first" routerLinkActive="" [routerLinkActiveOptions]="{exact: true}"
                                    ariaCurrentWhenActive="page" class="thumb-link">

                                </a>
                            </div> 

                            <div class="entry__text">
                                <div class="entry__header">

                                    <div class="entry__meta pb-3">
                                        <span class="entry__cat-links">
                                            <a href="#">Games</a>
                                            <a href="#">Productivity</a>
                                        </span>
                                    </div>

                                    <h1 class="entry__title pb-3"><a routerLink="/first" routerLinkActive=""
                                            [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">From
                                            Recess to Efficiency:
                                            How Online Games are Boosting Effectiveness </a></h1>

                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                        Humanity has come a long way with regard to video games. Starting with the first
                                        one, Pong which now
                                        seems
                                        rudimentary; up to recent AAA blockbusters
                                    </p>
                                </div>
                            </div> 
                        </a>
                    </article> 

                     <!-- 2 -->
                     <article class="brick entry format-standard animate-this">
                        <a routerLink="/second" routerLinkActive="" [routerLinkActiveOptions]="{exact: true}"
                            ariaCurrentWhenActive="page">
                            <div class="entry__thumb">
                                <img class="mb-5 thumb-link"
                                    src="https://img.freepik.com/free-photo/view-people-addicted-their-smartphone-looking-scrolling-through-screens_23-2151487318.jpg?t=st=1723806616~exp=1723810216~hmac=f237b48347fa67d13fc9d243e0ab58ef49f40a16ae53076cd05611d031544902&w=900"
                                    alt="">
                                <a routerLink="/second" routerLinkActive="" [routerLinkActiveOptions]="{exact: true}"
                                    ariaCurrentWhenActive="page" class="thumb-link">

                                </a>
                            </div> 

                            <div class="entry__text">
                                <div class="entry__header">

                                    <div class="entry__meta pb-3">
                                        <span class="entry__cat-links">
                                            <a href="#">Games</a>
                                            <a href="#">Social Media</a>
                                        </span>
                                    </div>

                                    <h1 class="entry__title pb-3"><a routerLink="/second" routerLinkActive=""
                                            [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">3 Unseen yet Amazing games on LinkedIn </a></h1>

                                </div>
                                <div class="entry__excerpt">
                                    <p>
                                        Humanity has come a long way with regard to video games. Starting with the first
                                        one, Pong which now
                                        seems
                                        rudimentary; up to recent AAA blockbusters
                                    </p>
                                </div>
                            </div> 
                        </a>
                    </article> 


                    





                </div>
            </div>
        </div>

    </div>
</div>