.activebutton {
    background-color: rgba(255,79,99,0.9); /* Change to your desired active state color */
    color: white;
  }


/* Default styles */
.text {
  /* Your existing styles */
  padding: 0px 20px;
}

.logo{
  padding: 0px 20px;
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .text {
      padding: 0px 40px;
  }
  .logo{
    padding: 0px 30px;
  }
}