
<div class="s-header">
  <div class="container">
<header [class.active]="isNavbarActive" class="header">
  <a  routerLink="/home" routerLinkActive=""
  [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page"><img src="thorgames1.png"  style="padding: 15px;" alt="Thor Games logo" class="logo" /></a>
  

  <nav class="navbar">
    <ul class="navbar-list">
      <button class="mobile-navbar-btn" (click)="toggleNavbar()">
      <i *ngIf="isNavbarActive" name="close" class="fa-solid fa-xmark mobile-nav-icon" style="color: white;"></i>
    </button>
    <a routerLink="/home" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class=" px-3 py-2 text-m font-medium text-gray-600  hover:text-black" style="font-family: 'Inter';">Home</a>
    <a routerLink="/AboutUs" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class=" px-3 py-2 text-m font-medium text-gray-600  hover:text-black" style="font-family: 'Inter';">AboutUs</a>
    <a routerLink="/contact" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class=" px-3 py-2 text-m font-medium text-gray-600  hover:text-black" style="font-family: 'Inter';">Contact</a>
    <a routerLink="/affiliate" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class=" px-3 py-2 text-m font-medium text-gray-600  hover:text-black" style="font-family: 'Inter';">Affiliate</a>
    <!-- <a routerLink="/terms-of-use" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300  hover:text-black" style="font-family: 'Inter';">Terms Of Use</a> -->
    <a routerLink="/privacy-policy" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class=" px-3 py-2 text-m font-medium text-gray-600  hover:text-black" style="font-family: 'Inter';">privacy policy</a>
    <a routerLink="/blogs" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class=" px-3 py-2 text-m font-medium text-gray-600  hover:text-black" style="font-family: 'Inter';">Blogs</a>
    </ul>
  </nav>

  <button class="mobile-navbar-btn" (click)="toggleNavbar()">
    <i *ngIf="!isNavbarActive" class="fa-solid fa-bars mobile-nav-icon" style="color: black;" name="menu-outline"></i>
    
  </button>
</header>
</div>
</div>


