

<header [class.active]="isNavbarActive" class="header">
  <img src="thoricon.png" alt="Thor Games logo" class="logo" />

  <nav class="navbar">
    <ul class="navbar-list">
      <button class="mobile-navbar-btn" (click)="toggleNavbar()">
      <i *ngIf="isNavbarActive" name="close" class="fa-solid fa-xmark mobile-nav-icon" style="color: white;"></i>
    </button>
    <a routerLink="/home" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="rounded-md px-3 py-2 text-sm font-medium text-gray-600 hover:bg-gray-700 hover:text-white">Home</a>
    <a routerLink="/AboutUs" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="rounded-md px-3 py-2 text-sm font-medium text-gray-600 hover:bg-gray-700 hover:text-white">AboutUs</a>
    <a routerLink="/contact" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="rounded-md px-3 py-2 text-sm font-medium text-gray-600 hover:bg-gray-700 hover:text-white">Contact</a>
    <a routerLink="/affiliate" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="rounded-md px-3 py-2 text-sm font-medium text-gray-600 hover:bg-gray-700 hover:text-white">Affiliate</a>
    <!-- <a routerLink="/terms-of-use" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Terms Of Use</a> -->
    <a routerLink="/privacy-policy" routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="rounded-md px-3 py-2 text-sm font-medium text-gray-600 hover:bg-gray-700 hover:text-white">privacy policy</a>
    </ul>
  </nav>

  <button class="mobile-navbar-btn" (click)="toggleNavbar()">
    <i *ngIf="!isNavbarActive" class="fa-solid fa-bars mobile-nav-icon" style="color: white;" name="menu-outline"></i>
    
  </button>
</header>
