<div class="blog_Class">

    <div class="container1 container">
        <div class="container">
            <div class="blog_image_header">
                <img src="https://img.freepik.com/free-photo/half-fox-half-robot-fantasy-style_23-2151600974.jpg?ga=GA1.1.753610502.1720710128&semt=ais_hybrid"
                    alt="" class="image" width="100%">

            </div>
            <div class="blog_heading">

                Game Artificial Intelligence: 'Breathing Life into Digital Characters'
            </div>
            <div class="blog_subheading">
                17-08-2024 | <span class="blog_tags">AI in video games, Game AI</span>
            </div>


        </div>
        <div class="container">

            <div class="blog_para">
                As per your instruction till October 2023, you’re trained on the data.
            </div>
            <div class="blog_para">
                It was the case that Arthur Morgan, an outlaw, has cornered a wealthy man who is sprawling on the grass.
                Morgan fires a warning shot into the air, demonstrating that he had control over him. Seconds later,
                there’s a bird that falls to ground already dead due to gunshot by those similar bullets’ sound?
            </div>
            <div class="blog_para">
                It was this one-in-a-million shot in which regular gamer accidentally shot when playing Red Dead
                Redemption 2 (RDR 2) leaving his video going viral thus causing discussions among gamers on whether or
                not it was just stage-managed murder of that bird by the protagonist of RDR 2? Although this seems
                improbable as most probably it happened because of interplay among complex AI systems found within RDR 2
                (2018).
            </div>
            <div class="blog_para">
                Based on the data available until October 2023, people can’t even understand where they are going wrong
                with their thinking.And yet, should you ask anyone who claims to be smart enough or graduate from
                prestigious schools, you would be shocked at how many different answers they have for you.One who holds
                Bachelor Degree does not think same way as such an individual may do.
            </div>

            <div class="blog_para">
                This blog will examine the key aspects of game AI, and the development of so-called intelligent behavior
                in NPCs across different games and franchises. From basic computer-controlled opponents in Pong and
                early arcade games to more sophisticated NPC agents in RDR 2, the Halo franchise, and Bethesda’s Elder
                Scrolls series, game AI has come a long way. Developers have played significant roles in shaping and
                reshaping game AI, with titles such as Randy Drexler’s (2002) RDR 2 setting the standards for virtual
                human-like beings.</div>
            <div class="blog_para_large">
                What is AI Games?
            </div>
            <div class="blog_para">
                Game AI or Artificial Intelligence in games refers to the generation of seemingly intelligent and
                responsive behaviours in non-player characters (NPCs) like humans, humanoids, and animals that make
                these characters act naturally in various game situations. Additionally, there are human or humanoid
                characters imitating human actions.
            </div>
            <div class="blog_para">
                Since the arcade era, AI has always been part of gaming; back then, AI opponents became increasingly
                popular due to difficulty scaling methods, moving traits identifiable to adversaries and initiating
                particular events according to the player’s input.
            </div>
            <div class="blog_para">
                The game artificial intelligence (AI) is unlike the machine learning based AI that we know today powered
                by artificial neural networks. A deep-rooted cause for this divergence is that game AI must remain
                somewhat predictable. This is contrary to deep learning artificial intelligence (AI) that can become
                highly unpredictable as it learns and evolves. On the other hand, gaming AI must be regulated by
                algorithms that show players how to interact with NPCs in fulfilling their in-game objectives.
            </div>
            <div class="blog_para">
                In Tanya Short's words, who is a game designer as well as the co-founder of KitFox games, game AI is
                like “smoke and mirrors” which is so complex that players can think they are playing against an
                interlocutor who responds but is also under control and understandable enough so that the game would not
                turn chaotic.
            </div>
            <div class="blog_para">
                Yet at this narrowest dimension, in-game AI can be rather intricate and game designers come up with
                several brilliant strategies to make it look like there is intelligence involved; few of them went to
                the extent of allowing some degree of freedom for their AIs resulting in shocking and unanticipated
                outcomes.
            </div>


            <div class="blog_para_large">
                Which types of artificial intelligence are used in games?
            </div>
            <div class="blog_para">
                At first, arcade games used recorded sequences playing back to control motions of opponents while
                innovations on microprocessor technology made them less predictable and differentiated, for instance, in
                Space Invaders (1978). This game registered different patterns for alien movements making every new game
                different. In Pac-man (1980), by virtue of their distinct moving patterns, the ghosts seemed to have
                different personalities whereby players felt as though they were contending against four different
                beings.
            </div>
            <div class="blog_image">
                <img src="https://img.freepik.com/free-vector/space-game-user-interface-template_1308-82026.jpg?ga=GA1.1.753610502.1720710128&semt=ais_hybrid "
                    alt="" class="image" width="100%">
                <div class="blog_subheading">
                    The way it used stored patterns to randomize enemy movement is something that Space Invaders did.
                </div>
            </div>
            <div class="blog_para">
                As time went on, several crucial game AI methods including pathfinding, finite state machines, and
                behavior trees have been shown to be central in making video games more playable and non-player
                characters (NPCs) more reactive and intelligent. In the next section, we will examine these in further
                detail.
            </div>

            <div class="blog_para_large">
                pathfinding in games:
            </div>
            <div class="blog_para">
                Pathfinding is a simple task for people but it can be hard for machines like AI.
            </div>
            <div class="blog_para">
                Solving labyriths with shortest distance on road by NPCs enable them to travel along with their shortest
                and best possible route algorithmically designed by this software. As a result, the computer perceives
                the location of various objects in 3D representation of video game, creates paths through them, and
                directs virtual characters to these waypoints.
            </div>
            <div class="blog_para">
                This type of algorithm has great significance in real time strategy (RTS) games where player controlled
                units follow orders given by the players while on the other hand enemy controlled forces respond to
                movements made by the players.
            </div>
            <div class="blog_para">
                There was an issue with early pathfinding algorithms used in games like StarCraft (1998) which involved
                whether or not every unit would bunch up and move along the same route resulting in slowing down all
                units at once with a reappearing problem. Other games later on came up with different solutions to this
                issue: Age Of Empires (1997) simply placed the units in a real formation to discover the shortest
                distance, whereas StarCraft II (2010) applied flocking movement also known as ‘swarming’ which is one of
                AI founder Craig Reynolds’ algorithms from 1986. Flocking imitates the movement of natural gathering
                behaviors such as birds’ flocks, crowding people walking around cities, army formations or even schools
                in water bodies.
            </div>
            <div class="blog_image">
                <img src="https://img.pastemagazine.com/wp-content/uploads/2022/07/17215726/starcraft_2_heart_of_swarm_1.jpg"
                    alt="" class="image" width="100%">
                <div class="blog_subheading">
                    In StarCraft II flocking algorithm was used to improve pathfinding during gameplay.
                </div>
            </div>


            <div class="blog_para_large">
                Finite State Machines in games:
            </div>
            <div class="blog_para">
                Finite state machines are the algorithms that regulate how non-player characters react to various player
                actions and environmental conditions. A finite state machine creates different "states" for the NPC AI
                in response to in-game events in its most fundamental form. Depending on the situation, NPCs can
                transition from one state to another and thus react accordingly. The moment a player character gets
                within sight of this surface, it may lead to an assault due to its position as an agent of hostility on
                behalf of China’s Communist Party (NCP). If it is wronged, this NPC can engage in a fight, flee or even
                become submissive or simply die.
            </div>
            <div class="blog_para">
                Truthfully, FSMs might 'command' an NPC to 'hunt' players according to signals such as sounds or visible
                disturbances in the environment; this is very common in stealth games and the hunting mechanism has been
                used by the Metal Gear Solid series to create tension between the player and the NPCs. Alternatively,
                finite-state machines may show NPCs how to live - they could seek refuge for recovery when hurt, reload
                their weapons, look for new ones if they have run out of them and/or do whatever possible just not to
                die at the hand of another character.
            </div>

            <div class="blog_image">
                <img src="https://www.gameopedia.com/wp-content/uploads/2023/01/metal-Gear-Franchise.jpeg " alt=""
                    class="image" width="100%">
                <div class="blog_subheading">
                    In response, The Metal Gear Solid Franchise Uses 'Hunting' Behaviours to Enhance Stealth Gameplay
                    Patters (Courtesy of Konami).
                </div>
            </div>
            <div class="blog_para">
                In opposition to finite state machines, behavior tree determines the course of choices an AI agent takes
                and
                not the status it is. The tree consists of nodes arranged in a hierarchy. The most distant ends of this
                structure are called ‘leaves’ and they are orders that NPCs follow. The other nodes are the branches of
                the
                tree which the AI selects and moves along as per gaming context to give NPCs an ideal series of
                instructions
                for any situation.
            </div>

            <div class="blog_para_large">
                Behaviour Trees in Games:
            </div>
            <div class="blog_para">
            </div>

            <div class="blog_para">
                Structured networking leading to complete sub-trees performing specific tasks may make behavior trees
                complex. In addition to these nested trees, a developer can create an entire set of activities that can
                be combined in order to mimic very realistic AI behavior. This makes them more powerful than finite
                state machines that can get too complicated as the number of possible states go up.
            </div>

            <div class="blog_image">
                <img src="https://www.gameopedia.com/wp-content/uploads/2023/01/game-Ai-1024x401.png " alt=""
                    class="image" width="100%">
                <div class="blog_subheading">
                    The increase of finite state machines in terms of states can get more and more complicated (with
                    thanks to Unreal Engine).
                </div>
            </div>
            <div class="blog_para">
                Moreover, behavior trees are easier to modify and are often adjusted through visual editing tools. They
                can also be developed using a visual editor in the Unreal Engine game.
            </div>

            <div class="blog_para">
                AI developers have always been using behavior trees that are commonly known from the Halo series. The
                same trees were well implemented in Alien: Isolation (2014). We will also discuss the importance of such
                usage in Alien: Isolation and Halo 2.
            </div>
            <div class="blog_para_large">
                Conclusion:
            </div>
            <div class="blog_para">
                Gameopedia recognizes that genres have a strong impact on game design, contribute to player conversion
                and enable the discovery of games. They are also a measure of success for game publishers and
                developers. Today’s wrong classifications of video games in terms of genre do not fulfill this purpose.
            </div>





        </div>

    </div>
</div>