.main{
    display: inline-block;
    width: 100%;
    
    align-items: center;
    /* background-color: #27264E; */
    padding: 24px;
}

.container{
    max-width: 1200px;
    margin: auto;
    color: black;
    background-color: white;
    height: 100%;
    padding: 35px 28px;
}

.m-text{
    color: #152B54;
    font-weight: bold;
    padding-bottom: 12px;
    font-family: 'Signika';
    font-weight: bold;
    font-size: 20px;
}

.m-text2{
    color: #152B54;
    font-weight: bold;
    padding-bottom: 12px;
    font-family: 'Signika';
    font-weight: bold;
    font-size: 17px;
}
.s-text{
    font-weight: 600px;
    padding-bottom: 15px;
    font-style: 'Montserrat';
}