<div class="main">
  <div class="container">
    <h3 class="m-text">Reach Out to Us! 📬</h3>
    <div class="s-text">Got questions or feedback about Thor Games? We’re here to help! 😊 Your thoughts and inquiries
      are important to us. Drop us a message and we’ll respond as quickly as we can.</div>
  
    
    <div class="s-text"><span class="m-text2">Email Us: </span>&nbsp;
      <a class="link-secondary text-decoration-none" href="mailto:thoryourgames@gmail.come" style="color: blue; text-decoration: underline; font-weight: bold;" > thoryourgames&#64;gmail.com</a>
      </div>
    <div class="s-text" style="font-weight: bold; font-size: 15px; font-style: 'Montserrat';">
      We look forward to hearing from you and making your experience even better!</div>


  </div>
</div>