
<div class="container ">
    <div class="line ">
      <div class="c-text ">
        
        <span style="color: #F2EE11;">POPULAR</span> &nbsp;
        <span style="color: rgba(255,79,99,0.9);">GAMES</span>
       </div>
    </div>
   
   </div>
<div class="first" >
    <app-loading *ngIf="loading"></app-loading>
    <div class="grid grid-cols-2 md:grid-cols-6 gap-4">
        <div *ngFor="let item of data">
            <article class=" card" >
                <div class="subclass">        
                    <a (click)="onGameClick(item.id)" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
                        <img class="h-auto max-w-full rounded-lg c-img" src="{{item.image}}" alt="">
                        <!-- <div class="card__info">    </div>                       -->
                        <h3 class="card__title"> {{item.Game_Name}}</h3>
                      
                    </a>
                </div>
            </article>                
        </div>        
    </div>
</div>

<!--(click)="onGameClick(item.id)"  -->
<!-- style="background-image: url('{{item.image}}'); background-repeat: no-repeat; background-size: cover;" -->
