
<div *ngIf="loading">
    <app-loading ></app-loading>
  </div>


<div  *ngIf="!loading" class="first" >

    <div class="grid grid-cols-2 md:grid-cols-6 gap-3">
        <div *ngFor="let item of data">
            <article class=" card">
                <div class="subclass">        
                    <a (click)="onGameClick(item.id)" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
                        <img class="h-auto max-w-full rounded-lg c-img" src="combo/logos/{{item.id}}.png" alt="">
                                               
                        <h3 class="card__title"> {{item.name}}</h3>
                        
                    </a>
                </div>
            </article>                
        </div>        
    </div>
</div>

<!--(click)="onGameClick(item.id)"  -->

<!-- style="background-image: url('combo/logos/{{item.id}}.png'); background-repeat: no-repeat; background-size: cover;" -->
