<div class="main">

       <!-- <app-game-portal></app-game-portal> -->
        
        <!-- <div class="c-text my-3">
          Top Rated:
        </div> -->
       <app-cardd></app-cardd>
       
       <div class="container ">
        <div class="line ">
          <div class="c-text ">
            
            <span style="color: #F2EE11;">POPULAR</span> &nbsp;
            <span style="color: rgba(255,79,99,0.9);">GAMES</span>
           </div>
        </div>
       
       </div>
      
       <app-cards></app-cards>
       
        <!-- <app-game1></app-game1> -->
      </div>
      