<!-- <div *ngIf="loading">
  <app-loading ></app-loading>
</div> -->
<div *ngIf="!loading" class="main">
  
  <!-- <app-game-portal></app-game-portal> -->

  <!-- <div class="c-text my-3">
          Top Rated:
        </div> -->
  <div class="container">
    <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6811093144429996"
    crossorigin="anonymous"
  ></script>
  <!-- Horizontal -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-6811093144429996"
    data-ad-slot="1234113747"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
    <app-cardd></app-cardd>
    <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6811093144429996"
    crossorigin="anonymous"
  ></script>
  <!-- Horizontal -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-6811093144429996"
    data-ad-slot="1234113747"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  </div>

  <!-- <app-cards></app-cards> -->

  <!-- <app-game1></app-game1> -->
</div>
