<div class="blog_Class">
    <div class="container1 container">
        <div class="container">
            <div class="blog_image_header">
                <img src="https://img.freepik.com/free-photo/social-media-icons-rendering_52683-132199.jpg?t=st=1723806709~exp=1723810309~hmac=803a7a7733f4b80212076561f8e7640178b6cbff73951ab1cc400806c5e86dab&w=900"
                    alt="" class="image" style="width: 100%;">

            </div>
            <div class="blog_heading">

                3 Unseen yet Amazing games on LinkedIn
            </div>
            <div class="blog_subheading">
                12-08-2024 | <span class="blog_tags">Games, Social Media</span>
            </div>


        </div>
        <div class="container">
            <div class="blog_para">
                I won’t lie more. I never ever thought that I could create this lesson!
            </div>
            <div class="blog_para">
                LinkedIn’s decision to incorporate games into the platform may seem like chance, but in fact Daniel
                Roth, their editor in chief and VP claims it was not accidental. According to Roth,
            </div>
            <div class="blog_para">

                <div class=" blog_motivation">
                    <div class="a blog_motivation_content">
                        Our goal at LinkedIn is to continue to find ways to bring professionals together to stay
                        informed
                        and connected...We want to give people a way to exercise their brains while taking a quick
                        break,
                        but also give people a reason to connect with others. We hope that these games spark banter,
                        conversations, and even a healthy bit of competition among professionals around the world.
                    </div>
                </div>
            </div>

            <div class="blog_para">
                At the moment, you can participate in three games currently:
            </div>
            <li class="blog_list blog_subpara">
                <strong>Pinpoint: </strong>
                Let us look at an example of a word association game where players get a set of five words. The
                objective is to correctly identify which category these words fall under with the least number of
                guesses.
            </li>
            <li class="blog_list blog_subpara">
                <strong>Queens: </strong>
                Sudoku with queens is a variation of Sudoku that uses chess pieces rather than numbers. To solve this
                problem involves putting queens on the chessboard so that no two queens can attack each other and having
                one queen in each row.
            </li>
            <li class="blog_list blog_subpara">
                <strong>Crossclimb: </strong>
                Crossclimb combines quizzes about facts and jokes with words, starting from one word then converting it
                into another one by changing just one letter after that.
            </li>

            <div class="blog_para" style="margin-top: 24px;">
                <strong>Instructions on how to play:</strong>
            </div>
            <div class="blog_para">You can play the games in three different ways as per tutorial and press materials:
                the News section on your LinkedIn homepage, the My Network tab, or linkedin.com/games. But the only one
                option which worked for me on both desktop and mobile devices is through link above.A page like this
                should be your destination:</div>


            <div class="blog_image">
                <img src="assets/images/in1.png" alt="" class="image">

            </div>
            <div class="blog_para">
                Here, you can pick among three games.
            </div>
            <div class="blog_para">
                Pinpoint appears like this:
            </div>
            <div class="blog_image">
                <img src="assets/images/in2.png" alt="" class="image">

            </div>
            <div class="blog_para">
                Queens appears like this:
            </div>
            <div class="blog_image">
                <img src="assets/images/in3.png" alt="" class="image">

            </div>
            <div class="blog_para">
                Crossclimb appears like this:
            </div>
            <div class="blog_image">
                <img src="assets/images/in4.png" alt="" class="image">

            </div>


            <div class="blog_para">
                <strong>My thoughts:</strong>
            </div>
            <div class="blog_para"> There isn’t really a clear answer for me here. I do see how these brain
                stimulating games can be useful and for my case each one revitalize me back to life within minutes. But
                it would have been better if LinkedIn had chosen something joker style more modest less serious feature.
            </div>
            <div class="blog_para">
                By contrast b3 I was never fond of them myself. Initially i thought direction were quite complicated and
                later on all of them seemed uninteresting The fact that such games might take away focus from work Mars
                LinkedIn’s plan whereas one only plays it once every twenty-four hours so it is not serious offense in
                this situation.

            </div>
            <div class="blog_para">
                In general, I think this function was created to make the users remain longer on LinkedIn, since many do
                not check it regularly. Thus I can see some advantages of LinkedIn.

            </div>

            <div class="blog_para">
                Does that help me to think that professionals find them useful? No. In fact, integrating them into
                Messenger so that you play WITH other professionals may have been better; however, for now I feel it
                would be more productive to write a collaborative article, create a newsletter or simply catch up with
                your colleagues on Messenger. Personally, I think this one is a meh.

            </div>

            <div class="blog_para">
                Your thoughts in the comments would be greatly appreciated by me!

            </div>











        </div>
    </div>
</div>